{% extends "layout.html" %}

{% block main %}

<!-- Intro text -->
<div class="Intro-text">
  <p><b>Quick facts and some explanation about this page:</b></p>
</div>


<div class="Sample_charts">
  <div class="Chart_box_container">
    <div class="column"> The text in each tweet is analyzed using openAI's sentiment neuron. For more info, see:<br><br>
      https://blog.openai.com/unsupervised-sentiment-neuron/<br>
      https://github.com/openai/generating-reviews-discovering-sentiment/ </div>

    <div class="column"> This page was made in 2017, specifically for Harward's cs50 Final Project. <br><br>
                         The project can be enormously improved in terms of functionlity, style and UX.
                         Some day, I might finish it up, who knows... </div>
    <div class="column">  </div>
  </div>
</div>

{% endblock %}
