{% extends "layout.html" %}

{% block main %}
<!-- Intro text -->
<div class="Intro-text">
  <p><b>This is a place where you can make your own twitter sentiment analysis</b><br><br>
     Try it out by entering a few twitter acounts in the box below. I'll analyze 20 last tweets for each user.
     Be patient, for it tikes quite a time to analyze each tweet!</p>
</div>

<!-- Page contents -->
<!-- https://getbootstrap.com/docs/4.0/components/forms/ -->
<form action="{{ url_for('sample') }}" class="form" method="get">
    <label class="sr-only" for="user_list">user_list</label>
    <input class="form-control" name="user_list", placeholder="Enter twitter accounts of your choice. Example: barackoabama;JustinTrudeu;RealDonaldTrump", rows="2"/>
  <div class="submit-button">
    <button class="btn btn-default" type="submit">Analyze</button>
  </div>
</form>

</body>

{% endblock %}
